Repository MegaMek/megamek, pull requests merged in 2023-04, with the labels that each got.

#4282 add button to mini map that shows and hides the symbols on the map
  megamek/i18n/megamek/client/messages.properties
  megamek/src/megamek/client/ui/swing/GUIPreferences.java
  megamek/src/megamek/client/ui/swing/minimap/Minimap.java
Labels: Enhancement, GUI

#4284 add tab to client settings for unit tool tip and unit display settings
  megamek/i18n/megamek/client/messages.properties
  megamek/src/megamek/client/ui/swing/CommonSettingsDialog.java
  megamek/src/megamek/client/ui/swing/GUIPreferences.java
  megamek/src/megamek/client/ui/swing/tooltip/UnitToolTip.java
  megamek/src/megamek/client/ui/swing/unitDisplay/WeaponPanel.java
Labels: Enhancement, GUI

#4319 add original armor and internal structure values
  megamek/src/megamek/client/ui/swing/tooltip/UnitToolTip.java
Labels: Enhancement, GUI

#4310 show a chat message when changing settings
  megamek/src/megamek/client/ui/dialogs/BotConfigDialog.java
  megamek/src/megamek/client/ui/swing/ClientGUI.java
  megamek/src/megamek/client/ui/swing/ForceGeneratorViewUi.java
  megamek/src/megamek/client/ui/swing/RandomArmyDialog.java
  megamek/src/megamek/client/ui/swing/SkillGenerationDialog.java
  megamek/src/megamek/client/ui/swing/dialog/MegaMekUnitSelectorDialog.java
  megamek/src/megamek/client/ui/swing/lobby/ChatLounge.java
  megamek/src/megamek/common/MapSettings.java
  megamek/src/megamek/server/GameManager.java
Labels: Enhancement, GUI, Chat

#4313 add more client settings
  megamek/i18n/megamek/client/messages.properties
  megamek/i18n/megamek/client/messages_es.properties
  megamek/src/megamek/client/ui/swing/CommonSettingsDialog.java
  megamek/src/megamek/client/ui/swing/GUIPreferences.java
  megamek/src/megamek/client/ui/swing/OffBoardTargetOverlay.java
  megamek/src/megamek/client/ui/swing/UnitOverview.java
  megamek/src/megamek/client/ui/swing/boardview/BoardView.java
  megamek/src/megamek/client/ui/swing/boardview/EntitySprite.java
  megamek/src/megamek/client/ui/swing/boardview/FieldofFireSprite.java
  megamek/src/megamek/client/ui/swing/boardview/KeyBindingsOverlay.java
  megamek/src/megamek/client/ui/swing/boardview/PlanetaryConditionsOverlay.java
  megamek/src/megamek/client/ui/swing/minimap/Minimap.java
  megamek/src/megamek/client/ui/swing/tooltip/UnitToolTip.java
Labels: Enhancement, GUI

#4297 Fix Prephase next entity and done state freeze
  megamek/src/megamek/MegaMek.java
  megamek/src/megamek/client/Client.java
  megamek/src/megamek/client/ui/swing/PrephaseDisplay.java
  megamek/src/megamek/common/Game.java
  megamek/src/megamek/common/GameTurn.java
  megamek/src/megamek/server/GameManager.java
Labels: Bug

#4318 Replace Target Selection Combobox with more detailed dialog.
  megamek/i18n/megamek/client/messages.properties
  megamek/src/megamek/client/ui/baseComponents/AbstractButtonDialog.java
  megamek/src/megamek/client/ui/baseComponents/AbstractDialog.java
  megamek/src/megamek/client/ui/swing/AbstractChoiceDialog.java
  megamek/src/megamek/client/ui/swing/AimedShotDialog.java
  megamek/src/megamek/client/ui/swing/AimedShotHandler.java
  megamek/src/megamek/client/ui/swing/DeploymentDisplay.java
  megamek/src/megamek/client/ui/swing/EntityChoiceDialog.java
  megamek/src/megamek/client/ui/swing/FiringDisplay.java
  megamek/src/megamek/client/ui/swing/MovementDisplay.java
  megamek/src/megamek/client/ui/swing/OffBoardTargetOverlay.java
  megamek/src/megamek/client/ui/swing/PhysicalDisplay.java
  megamek/src/megamek/client/ui/swing/TargetChoiceDialog.java
  megamek/src/megamek/client/ui/swing/TargetingPhaseDisplay.java
  megamek/src/megamek/client/ui/swing/boardview/BoardView.java
  megamek/src/megamek/client/ui/swing/tooltip/HexTooltip.java
  megamek/src/megamek/client/ui/swing/tooltip/UnitToolTip.java
  megamek/src/megamek/common/TargetRoll.java
Labels: Enhancement, GUI
