Repository MegaMek/megamek, pull requests merged in 2023-06, with the labels that each got.

#4491 Data: Adding a Fredasa Corvette Raider name change
  megamek/data/mechfiles/name_changes.txt
Labels: Data

#4423 Add more target info to the WeaponsPanel of the Unit Display
  megamek/i18n/megamek/client/messages.properties
  megamek/src/megamek/client/ui/swing/AimedShotDialog.java
  megamek/src/megamek/client/ui/swing/AimedShotHandler.java
  megamek/src/megamek/client/ui/swing/EntityChoiceDialog.java
  megamek/src/megamek/client/ui/swing/FiringDisplay.java
  megamek/src/megamek/client/ui/swing/PointblankShotDisplay.java
  megamek/src/megamek/client/ui/swing/TargetChoiceDialog.java
  megamek/src/megamek/client/ui/swing/TargetingPhaseDisplay.java
  megamek/src/megamek/client/ui/swing/boardview/BoardView.java
  megamek/src/megamek/client/ui/swing/tooltip/HexTooltip.java
  megamek/src/megamek/client/ui/swing/tooltip/PilotToolTip.java
  megamek/src/megamek/client/ui/swing/tooltip/UnitToolTip.java
  megamek/src/megamek/client/ui/swing/unitDisplay/UnitDisplay.java
  megamek/src/megamek/client/ui/swing/unitDisplay/WeaponPanel.java
Labels: Enhancement, Unit Display

#4512 Issue #4504 - Incorrect Tech Rating for Lamellor Ferro-Carbide Armor
  megamek/src/megamek/common/MiscType.java
Labels: Data

#4515 Clan laser AMS cost correction (Issue #4506)
  megamek/src/megamek/common/weapons/other/CLLaserAMS.java
Labels: Data

#4513 Turn Details Overlay on Boardview
  megamek/i18n/megamek/client/messages.properties
  megamek/i18n/megamek/client/messages_de.properties
  megamek/i18n/megamek/client/messages_es.properties
  megamek/i18n/megamek/client/messages_ru.properties
  megamek/mmconf/defaultKeyBinds.xml
  megamek/src/megamek/client/ui/swing/ActionPhaseDisplay.java
  megamek/src/megamek/client/ui/swing/AttackPhaseDisplay.java
  megamek/src/megamek/client/ui/swing/ClientGUI.java
  megamek/src/megamek/client/ui/swing/CommonMenuBar.java
  megamek/src/megamek/client/ui/swing/FiringDisplay.java
  megamek/src/megamek/client/ui/swing/GUIPreferences.java
  megamek/src/megamek/client/ui/swing/MovementDisplay.java
  megamek/src/megamek/client/ui/swing/PhysicalDisplay.java
  megamek/src/megamek/client/ui/swing/TargetingPhaseDisplay.java
  megamek/src/megamek/client/ui/swing/boardview/AbstractBoardViewOverlay.java
  megamek/src/megamek/client/ui/swing/boardview/AttackSprite.java
  megamek/src/megamek/client/ui/swing/boardview/BoardView.java
  megamek/src/megamek/client/ui/swing/boardview/KeyBindingsOverlay.java
  megamek/src/megamek/client/ui/swing/boardview/PlanetaryConditionsOverlay.java
  megamek/src/megamek/client/ui/swing/boardview/TurnDetailsOverlay.java
  megamek/src/megamek/client/ui/swing/tooltip/EntityActionLog.java
  megamek/src/megamek/client/ui/swing/util/KeyCommandBind.java
  megamek/src/megamek/common/Mounted.java
  megamek/src/megamek/common/actions/AbstractAttackAction.java
  megamek/src/megamek/common/actions/AbstractEntityAction.java
  megamek/src/megamek/common/actions/ChargeAttackAction.java
  megamek/src/megamek/common/actions/ClubAttackAction.java
  megamek/src/megamek/common/actions/DfaAttackAction.java
  megamek/src/megamek/common/actions/EntityAction.java
  megamek/src/megamek/common/actions/KickAttackAction.java
  megamek/src/megamek/common/actions/ProtomechPhysicalAttackAction.java
  megamek/src/megamek/common/actions/PunchAttackAction.java
  megamek/src/megamek/common/actions/PushAttackAction.java
  megamek/src/megamek/common/actions/SearchlightAttackAction.java
  megamek/src/megamek/common/actions/SpotAction.java
  megamek/src/megamek/common/actions/TeleMissileAttackAction.java
  megamek/src/megamek/common/actions/WeaponAttackAction.java
Labels: Enhancement, GUI
