Repository MegaMek/megamek, pull requests merged in 2023-11, with the labels that each got.

#4881 Fix Partial Wings on OmniMechs
  megamek/data/mechfiles/mechs/Rec Guides ilClan/Vol 11/Butcherbird (Ion Sparrow) Prime.mtf
  megamek/data/mechfiles/mechs/Rec Guides ilClan/Vol 22/Jade Phoenix C.mtf
  megamek/data/mechfiles/mechs/Rec Guides ilClan/Vol 22/Jade Phoenix D.mtf
Labels: Data

#4877 add client setting for auto centering
  megamek/i18n/megamek/client/messages.properties
  megamek/src/megamek/client/ui/swing/CommonSettingsDialog.java
  megamek/src/megamek/client/ui/swing/GUIPreferences.java
  megamek/src/megamek/client/ui/swing/boardview/BoardView.java
Labels: GUI

#4875 done and skip buttons handle changes in GUI Scale better
  megamek/src/megamek/client/ui/swing/AbstractPhaseDisplay.java
  megamek/src/megamek/client/ui/swing/ActionPhaseDisplay.java
  megamek/src/megamek/client/ui/swing/ChatterBox.java
  megamek/src/megamek/client/ui/swing/StatusBarPhaseDisplay.java
Labels: GUI

#4899 add report heading for piloting rolls
  megamek/i18n/megamek/common/report-messages.properties
  megamek/src/megamek/server/GameManager.java
Labels: Reports

#4900 advanced search for mounted infantry
  megamek/i18n/megamek/client/messages.properties
  megamek/src/megamek/client/ui/swing/unitSelector/TWAdvancedSearchPanel.java
  megamek/src/megamek/common/MechSearchFilter.java
  megamek/src/megamek/common/MechSummary.java
  megamek/src/megamek/common/MechSummaryCache.java
Labels: Advanced Search

#4909 only add pilot rolls heading when there are piloting rolls
  megamek/src/megamek/server/GameManager.java
Labels: Reports

#4914 add missing filter for QuadVee
  megamek/src/megamek/common/MechSearchFilter.java
Labels: Advanced Search

#4924 weapon panel factor in combat computer with displaying heat buildup
  megamek/src/megamek/client/ui/swing/unitDisplay/WeaponPanel.java
Labels: Unit Display
