Repository MegaMek/megamek, pull requests merged in 2023-03, with the labels that each got.

#4175 Adds 24 Maps in Unofficial
  megamek/data/boards/unofficial/Cakefish/General/100x100 -Arid- Ventifact Channels.board
  megamek/data/boards/unofficial/Cakefish/General/35x35 - Grass - Helicopter Base.board
  megamek/data/boards/unofficial/Cakefish/General/35x35 -Arid- Riverine Bridge.board
  megamek/data/boards/unofficial/Cakefish/General/40x40 - Arid - Boarding Call.board
  megamek/data/boards/unofficial/Cakefish/General/45x45 -Arid- Overlay.board
  megamek/data/boards/unofficial/Cakefish/General/45x45 -Desert- Mesa Oasis.board
  megamek/data/boards/unofficial/Cakefish/General/48x51 - Arid - Portside Connection.board
  megamek/data/boards/unofficial/Cakefish/General/48x51 -Arid- Railyard.board
  megamek/data/boards/unofficial/Cakefish/General/50x50  -Grass- A Dam'd Shame.board
  megamek/data/boards/unofficial/Cakefish/General/50x50  A Dam'd Shame.board
  megamek/data/boards/unofficial/Cakefish/General/50x50 -Arid- CarvedLands.board
  megamek/data/boards/unofficial/Cakefish/General/50x50 -Grass- Bisected Star Fort.board
  megamek/data/boards/unofficial/Cakefish/General/50x50 -Grass- QRF Airbase.board
  megamek/data/boards/unofficial/Cakefish/General/50x50 -Grass- Smash n Grab.board
  megamek/data/boards/unofficial/Cakefish/General/50x50 -Volcanic- Sintered Lands.board
  megamek/data/boards/unofficial/Cakefish/General/60x60 - Grass - Volcanic Isle.board
  megamek/data/boards/unofficial/Cakefish/General/60x60 - Mars - Reclaimed Earth.board
  megamek/data/boards/unofficial/Cakefish/General/60x60 - Snow - Snap Thaw.board
  megamek/data/boards/unofficial/Cakefish/General/60x60 -Grass- Loch and Load.board
  megamek/data/boards/unofficial/Cakefish/General/60x60 -Grass- Ribbon Farms.board
  megamek/data/boards/unofficial/Cakefish/General/80x40 -Grass- Mangrove Coast BOTTOM.board
  megamek/data/boards/unofficial/Cakefish/General/80x40 -Grass- Mangrove Coast TOP.board
  megamek/data/boards/unofficial/Cakefish/General/80x80 - Grass - Aerodyne Airport.board
  megamek/data/boards/unofficial/Cakefish/General/80x80 -Grass- Mangrove Coast FULL.board
Labels: Data

#4254 add Clan in the description for a weapon in reports when weapon isClan
  megamek/src/megamek/common/weapons/WeaponHandler.java
Labels: Enhancement, Reports

#4228 search updates
  megamek/i18n/megamek/client/messages.properties
  megamek/src/megamek/client/ratgenerator/UnitTable.java
  megamek/src/megamek/client/ui/swing/ForceGeneratorViewUi.java
  megamek/src/megamek/client/ui/swing/RandomArmyDialog.java
  megamek/src/megamek/client/ui/swing/lobby/ChatLounge.java
  megamek/src/megamek/client/ui/swing/lobby/LobbyMekPopupActions.java
  megamek/src/megamek/client/ui/swing/lobby/LobbyUtility.java
  megamek/src/megamek/client/ui/swing/unitSelector/ASAdvancedSearchPanel.java
  megamek/src/megamek/client/ui/swing/unitSelector/TWAdvancedSearchPanel.java
  megamek/src/megamek/common/Aero.java
  megamek/src/megamek/common/Entity.java
  megamek/src/megamek/common/EquipmentType.java
  megamek/src/megamek/common/MechSearchFilter.java
  megamek/src/megamek/common/MechSummary.java
  megamek/src/megamek/common/MechSummaryCache.java
  megamek/src/megamek/common/alphaStrike/ASCardDisplayable.java
Labels: Enhancement, GUI, Advanced Search
