Repository MegaMek/megamek, pull requests merged in 2023-02, with the labels that each got.

#4123 saveSettings updates
  megamek/src/megamek/client/ui/dialogs/MiniReportDisplayDialog.java
  megamek/src/megamek/client/ui/dialogs/UnitDisplayDialog.java
  megamek/src/megamek/client/ui/swing/ClientGUI.java
  megamek/src/megamek/client/ui/swing/GUIPreferences.java
  megamek/src/megamek/client/ui/swing/PlayerListDialog.java
  megamek/src/megamek/client/ui/swing/minimap/Minimap.java
Labels: Enhancement, GUI

#4128 status bar update for players remaining
  megamek/i18n/megamek/client/messages.properties
  megamek/src/megamek/client/ui/swing/ClientGUI.java
  megamek/src/megamek/client/ui/swing/DeploymentDisplay.java
  megamek/src/megamek/client/ui/swing/FiringDisplay.java
  megamek/src/megamek/client/ui/swing/GUIPreferences.java
  megamek/src/megamek/client/ui/swing/MovementDisplay.java
  megamek/src/megamek/client/ui/swing/PhysicalDisplay.java
  megamek/src/megamek/client/ui/swing/ReportDisplay.java
  megamek/src/megamek/client/ui/swing/StatusBarPhaseDisplay.java
  megamek/src/megamek/client/ui/swing/TargetingPhaseDisplay.java
Labels: Enhancement, GUI

#4129 Unit tool tip fixes
  megamek/i18n/megamek/client/messages.properties
  megamek/src/megamek/client/ui/swing/boardview/AttackSprite.java
  megamek/src/megamek/client/ui/swing/boardview/BoardView.java
  megamek/src/megamek/client/ui/swing/lobby/MekTableModel.java
  megamek/src/megamek/client/ui/swing/tooltip/PilotToolTip.java
  megamek/src/megamek/client/ui/swing/tooltip/UnitToolTip.java
  megamek/src/megamek/client/ui/swing/unitDisplay/SummaryPanel.java
  megamek/src/megamek/client/ui/swing/util/UIUtil.java
Labels: Bug, GUI

#4131 add additional filters to advance search
  megamek/i18n/megamek/client/messages.properties
  megamek/src/megamek/client/ui/swing/AdvancedSearchDialog.java
  megamek/src/megamek/client/ui/swing/RandomArmyDialog.java
  megamek/src/megamek/client/ui/swing/dialog/AbstractUnitSelectorDialog.java
  megamek/src/megamek/client/ui/swing/unitSelector/ASAdvancedSearchPanel.java
  megamek/src/megamek/client/ui/swing/unitSelector/TWAdvancedSearchPanel.java
  megamek/src/megamek/common/Engine.java
  megamek/src/megamek/common/MechSearchFilter.java
  megamek/src/megamek/common/MechSummary.java
  megamek/src/megamek/common/MechSummaryCache.java
  megamek/src/megamek/common/util/RandomArmyCreator.java
Labels: Enhancement, GUI, Advanced Search

#4168 show map size on mini map
  megamek/i18n/megamek/client/messages.properties
  megamek/src/megamek/client/ui/swing/minimap/Minimap.java
Labels: Enhancement, GUI

#4179 4149: Fixing Princess Note Path
  megamek/docs/Bot Stuff/Princess Notes.txt
  megamek/i18n/megamek/client/bot/messages_es.properties
  megamek/i18n/megamek/client/bot/messages_ru.properties
  megamek/i18n/megamek/client/messages.properties
  megamek/src/megamek/MMConstants.java
  megamek/src/megamek/client/ui/dialogs/helpDialogs/BotHelpDialog.java
Labels: Bug, Data, GUI

#4177 Fixing Skin Launch Exception Handling
  megamek/src/megamek/client/ui/swing/ClientGUI.java
Labels: Bug

#4178 MHQ 3601: Fixing Specified Description Text
  megamek/src/megamek/client/ui/baseComponents/AbstractNagDialog.java
Labels: GUI, Blocker

#4181 fix issue with missing good crits when there are bad crits
  megamek/src/megamek/client/ui/swing/tooltip/UnitToolTip.java
Labels: Bug, GUI

#4180 hide windows while in the lounge phase
  megamek/src/megamek/client/ui/swing/ClientGUI.java
Labels: Bug, GUI

#4190 add filters invalid and Failed to load equipment
  megamek/i18n/megamek/client/messages.properties
  megamek/src/megamek/client/ui/swing/unitSelector/TWAdvancedSearchPanel.java
  megamek/src/megamek/common/MechSearchFilter.java
  megamek/src/megamek/common/MechSummary.java
  megamek/src/megamek/common/MechSummaryCache.java
Labels: Enhancement, GUI, Advanced Search

#4183 swap advance setting to panel height from visible row count, handles …
  megamek/i18n/megamek/client/messages.properties
  megamek/src/megamek/client/ui/swing/GUIPreferences.java
  megamek/src/megamek/client/ui/swing/unitDisplay/WeaponPanel.java
Labels: Bug, GUI, Unit Display

#4194 show movement mode before move indicators
  megamek/src/megamek/client/ui/swing/tooltip/UnitToolTip.java
Labels: Enhancement, GUI

#4193 show amount of heat over capacity on the weapon tab
  megamek/i18n/megamek/client/messages.properties
  megamek/src/megamek/client/ui/swing/unitDisplay/WeaponPanel.java
Labels: Enhancement, GUI, Unit Display

#4214 add spacing between weapon ranges
  megamek/src/megamek/client/ui/swing/unitDisplay/WeaponPanel.java
Labels: Enhancement, GUI, Unit Display

#4207 add filters tech level and tech base
  megamek/i18n/megamek/client/messages.properties
  megamek/i18n/megamek/common/messages.properties
  megamek/src/megamek/client/ui/swing/unitSelector/TWAdvancedSearchPanel.java
  megamek/src/megamek/common/Engine.java
  megamek/src/megamek/common/Entity.java
  megamek/src/megamek/common/EquipmentType.java
  megamek/src/megamek/common/Mech.java
  megamek/src/megamek/common/MechSearchFilter.java
  megamek/src/megamek/common/MechSummary.java
  megamek/src/megamek/common/MechSummaryCache.java
  megamek/src/megamek/common/SimpleTechLevel.java
Labels: Enhancement, GUI, Advanced Search

#4202 rat generator - add to force, update bv total
  megamek/src/megamek/client/ui/swing/RandomArmyDialog.java
Labels: Enhancement, GUI
