Repository MegaMek/megamek, pull requests merged in 2024-05, with the labels that each got.

#5453 MegaMek 0.49.19.1 dot release
  build.gradle
  megamek/build.gradle
  megamek/docs/history.txt
  megamek/src/megamek/SuiteConstants.java
  megamek/src/megamek/Version.java
  megamek/src/megamek/client/bot/princess/Princess.java
  megamek/src/megamek/client/ui/swing/util/TurnTimer.java
  megamek/src/megamek/common/AmmoType.java
  megamek/src/megamek/common/BattleArmor.java
  megamek/src/megamek/common/EntityListFile.java
  megamek/unittests/megamek/client/bot/princess/PrincessTest.java
Labels: Stable Backport Candidate

#5481 Name Changes Updates
  megamek/data/mechfiles/name_changes.txt
  megamek/src/megamek/utilities/NameChangesValidator.java
Labels: Data

#5488 Fix 5476: Update SV armor slots to 2 or 1 for Rating E or F respectively
  megamek/src/megamek/common/equipment/ArmorType.java
  megamek/unittests/megamek/common/verifier/TestSupportVehicleTest.java
Labels: Support Vehicles

#5516 Added CamOps Fatigue Attribute to Crew
  megamek/i18n/megamek/client/messages.properties
  megamek/i18n/megamek/common/options/messages.properties
  megamek/src/megamek/client/ui/swing/CustomMechDialog.java
  megamek/src/megamek/client/ui/swing/CustomPilotView.java
  megamek/src/megamek/client/ui/swing/widget/PilotMapSet.java
  megamek/src/megamek/common/Crew.java
  megamek/src/megamek/common/EntityListFile.java
  megamek/src/megamek/common/LAMPilot.java
  megamek/src/megamek/common/MULParser.java
  megamek/unittests/megamek/common/CrewTest.java
Labels: GUI
