Repository MegaMek/megamek, pull requests merged in 2024-03, with the labels that each got.

#5212 Fix Seabuster (Early)
  megamek/data/mechfiles/convfighter/XTRs/Periphery/SeaBuster Strike Fighter (Early).blk
Labels: Data

#5218 add additional zoom levels and font adjustment levels
  megamek/src/megamek/client/ui/swing/boardview/BoardView.java
Labels: (RFE) Enhancement, GUI

#5270 add split pane to weapon panel above to hit text
  megamek/src/megamek/client/ui/swing/unitDisplay/WeaponPanel.java
Labels: (RFE) Enhancement, Unit Display

#5278 correct issue when using multiple boards and restricting deploy any t…
  megamek/src/megamek/client/ui/swing/lobby/PlayerSettingsDialog.java
Labels: Bug
