Repository MegaMek/megamek, pull requests merged in 2025-07, with the labels that each got.

#7287 Fix: Fixed Start Year of the Mercenary's Guild
  megamek/data/universe/factions/MG.yml
Labels: Bug, Data, Severity: Low

#7309 Correct BV values for some BA LRM launchers
  megamek/src/megamek/common/AmmoType.java
  megamek/src/megamek/common/weapons/battlearmor/CLBALRM3.java
  megamek/src/megamek/common/weapons/battlearmor/CLBALRM5.java
  megamek/src/megamek/common/weapons/lrms/CLLRM3.java
Labels: BV

#7327 Improvement: Faction Data Update
  megamek/data/universe/factions/ARD.yml
  megamek/data/universe/factions/CS.yml
  megamek/data/universe/factions/PSI.yml
  megamek/data/universe/factions/SLIE.yml
Labels: Data

#7330 Improvement: Updated `parseDouble` Math Utility to Include Lazy Calling
  megamek/src/megamek/codeUtilities/MathUtility.java
Labels: Utility

#7340 Fix: Fixed Clans Incorrectly Being Considered Honor:None by Default
  megamek/src/megamek/common/universe/Faction2.java
Labels: Bug, Severity: Critical
